<a name="responses" id="responses"></a>
<table width="95%" border="0" cellspacing="0" cellpadding="0">
  <!-- Powered by http://ok-lab.enomo.info -->
  <!-- ÊÎÌÌÅÍÒÀÐÈÈ ÍÈ Â ÊÎÈÌ ÑËÓ×ÀÅ ÍÅ ÓÁÈÐÀÒÜ - ÈÑÏÎËÜÇÓÞÒÑß ÑÊÐÈÏÒÎÌ ÊÀÊ ÌÅÒÊÈ!!! -->
  <!-- begin shablon -->
  <tr>
    <td align="left" valign="top" class="i_name">
    	<span style="color: #999999;">{DATE}</span><br />
    	{RESPONSE}<br />
    	<span style="color: #FF0000;">{ADMIN_RESPONSE}</span>
    </td>
  </tr>
  <!-- end shablon -->
  <tr>
    <td align="center" valign="top" colspan="2">{LIST_PAGES}</td>
  </tr>
</table>
