<table cellpadding="0" cellspacing="0" border="0" class="data">
<!-- КОММЕНТАРИИ НИ В КОИМ СЛУЧАЕ НЕ УБИРАТЬ - ИСПОЛЬЗУЮТСЯ СКРИПТОМ КАК МЕТКИ!!! -->
<tr>
<th class="dataTitle"><a href="{URL}/sort-{SORT_NAME}">Наименование товара</a></th>
<th class="dataPrice"><a href="{URL}/sort-{SORT_PRICE}">Цена ($)</a></th>
</tr>
<!-- begin shablon -->
<tr>
<td class="dataTitle">{GOODS_NAME}</td>
<td class="dataPrice">{PRICE}</td>
</tr>
<!-- end shablon -->
</table>

<div class="pager">
<b>Страницы:</b> {LIST_PAGES}
</div>