<form action="{SEARCH_URL}" method="GET" id=form1 name=form1>
<table cellpadding="0" cellspacing="0" border="0" class="search">
<tr><td colspan=3><img src="/components/digiseller/images/0.gif" alt="" width="200" height="1" border="0"></td></tr>
<tr>
<td class="searchTitle">Я ищу:</td>
<td class="searchField"><input type="text" name="query" class="search" value="{SEARCH_STRING}"></td>
<td class="searchButton">&nbsp;<input type="submit" name="go" value="Искать снова" class="button"></td>
</tr>
</table>
</form>